---
import BaseLayout from '../layouts/BaseLayout.astro';
import Gallery from '../components/Gallery.astro';
---

<BaseLayout title="Cat-a-clysm">
    <h1>Drawings</h1>
    <p>Some drawings I did, I don't remember much about these, but hope you like them.</p>
    <Gallery />
</BaseLayout>