---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Cat-a-clysm">
    <h1>About</h1>
    <p>Hi, I'm Cat-a-clysm, Cataclysm, or Shylke in real life. I'm a 22 year old Italian guy, and one of those stereotypical Linux users that own a Thinkpad with Arch on it. My interests include technology (to no one's surprise), web/graphic design, drawing, gaming, psychology, learning about plurality, Nintendo consoles and modding, and some other nicher topics.<br />I'm currently learning HTML & CSS and failing spectacularly at it, but hey, I managed to get this website running at least. Other things I want to learn are:</p>

    <ul>
        <li>JS/TS, as I want to pick up a real programming language;</li>
        <li>Cooking and baking: food is tasty and I'm a hungry person;</li>
        <li>Self-hosting: there are many cool services and I no longer want to rely on the cloud;</li>
        <li>Drawing: the skills I used to have are pretty much gone;</li>
    </ul>

    <p>Interests aside, these are some other things I am:</p>

    <div>
        <img src="https://raw.githubusercontent.com/mecha-cat/celeste-hearts/main/Queer%20Hearts/Gender/Transmasc%202.gif" alt="transmasc" title="transmasc"/>
        <img src="https://raw.githubusercontent.com/mecha-cat/celeste-hearts/main/Health%20Hearts/Mental/Autism%202.gif" alt="autistic" title="autistic"/>
        <img src="https://raw.githubusercontent.com/mecha-cat/celeste-hearts/main/Plural%20Hearts/Miscellaneous/Plural%201.gif" alt="plural" title="plural" />
    </div>

     
    <p>What are those hearts? Well, they're from <a href="https://github.com/mecha-cat/celeste-hearts">Celeste Hearts</a>, a project started in 2021 as a zipped folder on my computer, and then grow into what is today. Its  goal has always been to provide the most pride flags possible in the iconic heart format ever since I found them on a Discord server initially, but the flags it included were limited so I started making ones for myself. Which is pretty funny if you consider I never played Celeste, nor that I knew they were from a game at that time. Over the years I've also expanded beyond queer pride flags, and upon other communities including but not limited to the plural, mental health, and alterhuman ones. You may also notice that there are quite a lot of meme/jokey hearts because I'm a shitpostey person and my sense of humor never matured past 16.</p>
    <p>I've also gotten support from <a href="https://gock.mom/">Nao</a> who helped me turning the hearts into emote packs which are currently available for Discord, Revolt, and the Fediverse. It also made made the background I'm using as a meme. That being said, you should check its website.</p>
</BaseLayout>
    
