<div class="gallery">
    <img src="/assets/images/crystal.webp" />
    <img src="/assets/images/star.webp" />
    <img src="/assets/images/luma.webp" />
    <img src="/assets/images/snowflake.webp" />
    <img src="/assets/images/pond.webp" />
    <img src="/assets/images/feather.webp" />
    <img src="/assets/images/astrocat.webp" />
    <br>
</div>
<br>

<style>
    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
    }
    img {
        border-radius: 48px;
        object-fit: cover;
        width: 250px;
        height: 300px
    }
</style>