<header class="me">
    <a href="/"><img id="avatar" src="/assets/images/cat.webp" alt="A stylized black cat with a blue outline" /></a>
    <h1 id="name">Cataclysm</h1>
    <div class="socials">
        <a href="https://cooltrans.men/onoranzefunebri" target="_blank"><img src="/assets/images/Fediverse.svg" alt="Fediverse icon"/></a>
        <a href="https://github.com/mecha-cat" target="_blank"><img src="/assets/images/Github.svg" alt="Github icon"/></a>
        <a href="https://pronouns.cc/@Cataclysm" target="_blank"><img src="/assets/images/pronouns.cc.svg" alt="pronouns.cc icon" /></a>
        <a href="https://rvlt.gg/JQbr4EBY" target="_blank"><img src="/assets/images/Revolt.svg" alt="Revolt icon" /></a>
        <a href="https://www.redbubble.com/people/mecha-cat/" target="_blank"><img id="redbubble" src="/assets/images/Redbubble.svg" alt="Redbubble icon" /></a>
    </div>
</header>

<style>
    #avatar {
        aspect-ratio: 1;
        width: 182px;
    }
    
    .socials {
        margin-bottom: 18px;
    }

    h1 {
        margin: 0;
    }

    .socials img {
        aspect-ratio: 1;
        width: 48px;
    }

    @media screen and (max-width: 767px) {
        .socials {
            gap: 8px;
        }

        .socials img {
            width: 36px;
        }
    }
</style>