@font-face {
    font-family: "Oxygen Mono";
    src: url("/assets/fonts/OxygenMono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oxanium";
    src: url("/assets/fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
