---
const { title } = Astro.props

import '../styles/index.css';
import '../styles/container.css';

import ContainerLeft from '../components/ContainerLeft.astro';
import ContainerRight from '../components/ContainerRight.astro';
---

<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.gif" />
        <title>{title}</title>
    </head>

    <body>
        <div class="container">
            <ContainerLeft />
            <ContainerRight>
                <slot />
            </ContainerRight>
        </div>
    </body>
</html>
